<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>All Students</title>
</head>
<body>
   <h1>Students Details-</h1>
   <ol>
      <% for(let rrr of students){ %>
         <li><a href="/students/<%=rrr._id%>"><%= rrr.name %></a></li>
      <% } %> 
   </ol>
   <a href="/students/new"> Adding new student</a>
   
   
   
   
</body>
</html>