<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>New Student</title>
</head>

<body>
   <h1>DPL Ashok vihar</h1>
   <h3> Adding New student </h3>
   <form action="/students" method="POST">

      <label for="name">Enter Your Name</label>
      <input type="text" placeholder="Name" id="name" name="name">
<br>
      <label for="card">Enter YOur Card No : </label>
      <input type="number" placeholder="Card No" id="card" name="cardNo">
      <br>
      <br>
      <label for="pur">Purpose of Study</label>
      <select name="purpose" id="pur" name="purpose">
         <option value="UPSC">UPSC</option>
         <option value="Competiton">Competiton</option>
         <option value="Academic">Academic</option>
         <option value="Job Oreanted">Job Oreanted</option>
      </select>
      <label for="for"> Competiton Field </label>
      <input type="text" placeholder="Competiton Field" id="for" name="for">
      <br>
      <br> 
      <label for="join"> Library Joining year</label>
      <input type="number" placeholder="Join" id="join" name="join">
      <label for="achi"> Goal Achived :</label>
      <select name="achived" id="achi">
         <option value="YES">Yes</option>
         <option value="NO">NO</option>
         <option value="Working ON">Working ON</option>
      </select>
      <br>
      <button>Submit</button>
   </form>
<a href="/students">Cancle and Back Home page</a>
</body>

</html>