<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>New Student</title>
</head>

<body>
   <h1>DPL Ashok vihar</h1>
   <h3> Adding New student </h3>
   <form action="/students" method="POST">

      <label for="name">Enter Your Name</label>
      <input type="text" placeholder="Name" id="name" name="name">
<br>
      <label for="card">Enter YOur Card No : </label>
      <input type="number" placeholder="Card No" id="card" name="cardNo">
      <br>
      <br>

      <label for="pur">Purpose of Study</label>
      <select name="purpose" id="pur" ">
         <% for (let purpos of purpose) { %> 
            <option value="<%=purpos%>"><%=purpos%></option>
           <% } %> 
      </select>

      <label for="for">Field </label>
      <input type="text" placeholder="Competiton Field" id="for" name="for">
      <br>
      <br> 
      <label for="join">Joining Year</label>
      <input type="number" placeholder="Join" id="join" name="join">
      <label for="achi"> Target Achived :</label>
      <select name="achived" id="achi">
         <% for(let Goal of goals){ %> 
            <option value="<%=Goal%>"><%=Goal%></option>
           <% } %> 
      </select>
      <br>
      <button>Submit</button>
   </form>
<a href="/students">Cancle and Back Home page</a>
</body>

</html>